PORT=8080
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/event_management?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here

# Optional: Brevo for Email notifications & Reminders
BREVO_API_KEY=
BREVO_SENDER_EMAIL=

# Optional: Google Gemini for AI Analytics
GEMINI_API_KEY=
